__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl

venv/
env/
.venv/

.env
*.env

.DS_Store
Thumbs.db

.vscode/
.idea/

*.log
dist/
build/
*.egg-info/
*.bak
*.swp
*.pid
.ipynb_checkpoints/
htmlcov/
.tox/
.coverage
.coverage.*
.cache
pytest_cache/
*.db
*.sqlite3
*~
